* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin: auto;
  text-align: center;
}

table td {
  padding: 15px;
}

table tr, table td, table th {
  border: 1px solid black;
}