.pods-wrapper {
    position: absolute;
    left: 20vw;
    top: 5vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh;
}

.pods-wrapper table th {
    font-weight: bold;
    color: black;
}

.pods-wrapper table td, .pods-wrapper table th {
    border-bottom: 1px solid #525252;
}

.pods-wrapper table tr {
    color: #434343;
    height: 5vh;
    transition: all 0.15s ease;
}

.pods-wrapper table {
    max-height: 100%;
    flex: 9;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td svg {
    transition: 0.15s;
    cursor: pointer;
    transform: scale(0.8);
}

td svg:hover {
    transition: 0.15s;
    transform: scale(0.85);
    color: #ee5253;
}